@{
    var name = Context.Session.GetString("Name");
    var profilePic = Context.Session.GetString("ProfilePic");

    var isLogged = !string.IsNullOrEmpty(name);
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="~/img/icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Homeground</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
    <div class="container">
        <a class="navbar-logo" asp-area="" asp-controller="Home" asp-action="Home">
            <img src="/img/logowhite.png" alt="Homeground Logo" />
        </a>

        <div class="list-links">
            <ul class="nav-links">

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Home">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Menu">Menu</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Location">Location</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="AboutUs">About Us</a>
                </li>

                @if (!isLogged)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Signin">Sign in</a>
                    </li>
                }
                else
                {
                    <li class="nav-item profile-li">

                        <div class="profile-container">
                            <button id="ProfileBtn" class="profile-btn">

                                @if (!string.IsNullOrEmpty(profilePic))
                                {
                                    <img src="@profilePic" class="profile-pic" />
                                }
                                else
                                {
                                    <img src="/img/defaultuser.png" class="profile-pic" />
                                }


                            </button>

                            <div id="ProfileMenu" class="profile-menu">
                                 <span class="profile-name">@name</span>
                                <a asp-controller="Home" asp-action="Logout">Logout</a>
                            </div>
                            
                        </div>
                    </li>
                }

            </ul>
        </div>
    </div>
</nav>
    </header>

<main role="main" class="pb-3">
    @RenderBody()
</main>


<footer class="border-top footer text-muted">
  <div class="container footer-content">

    
    <div class="footer-info-container" >
        <div class="about">
        <h1>ABOUT</h1>
        <span class="welcome-text">Welcome to the Official Website of <br> Homeground. #Happybean</span>

        <div class="social">
            <a href="https://www.instagram.com/homegroundcoffeebar" class="social-icon"><img src="/img/iglogo.png" alt="Instagram" /></a>
            <a href="https://www.facebook.com/homegroundcoffee4102" class="social-icon"><img src="/img/fblogo.png" alt="Facebook" /></a>
        </div>
        </div>

        <div class="quicklinks">
        <h1>QUICKLINKS</h1>
        <ul>
            <li><a href="/Home/Menu" class="quicklink">Menu</a></li>
            <li><a href="/Home/Location" class="quicklink">Location</a></li>
            <li><a href="/Home/AboutUs" class="quicklink">About Us</a></li>
            @if (!isLogged) {
                <li><a href="/Home/Signin" class="quicklink">Sign in</a></li>
            }
            
        </ul>
        </div>
    </div>

    <div class="footer-logo-container">
      <div class="footer-logo">
        <img src="/img/logowhite.png" alt="Homeground Logo" />
        </div>
    </div>

        <div class="scroll">
            <div class="arrow-up">
                <a href="#" id="ScrollTopLink">
                    <img src="/img/scroll_top.svg" alt="Scroll to Top" />
                </a>
            </div>
        </div>

    </div>



</footer>
    @* THIS CHECKS IF USER IS LOGGED IN *@
@if (User.Identity.IsAuthenticated)
{
    <script>
        window.isLoggedIn = true;
        window.userId = "@User.FindFirst("sub")?.Value";
    </script> 

    <button id="cartButton" class="cart-button" onclick="openCart()" style="display:none;">
        <span class="cart-icon">🛒</span>
        <span class="cart-count">0</span>
    </button>
}
else
{
    <script>
        window.isLoggedIn = false;
        window.userId = null;
        
    </script>
}




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

<script>
    if (window.isLoggedIn) {
        updateCartButton();
    }

window.currentUser = "@name";
    </script>




</body>
</html>
